@model CourierManagementSystem.Models.Courier
@{
    ViewData["Title"] = "UpdateStatus";
}

<h1>UpdateStatus</h1>
<form action="" method="post">
    <input asp-for="Id" class="form-control" hidden />
    <button type="submit" class="btn btn-primary form-control">Delivered</button>

</form>

